#header {
    background: url(https://www.geoex.com/app/uploads/2019/10/colombia-cocora-valley-wax-palm-trees-landscape.jpg) center center / cover no-repeat ;
    height: 70vh;
    margin-bottom: 50px;
}

