body {
  font-family: "Montserrat";
  width: 100%;
  
}

.videoIndex {
  background-size: cover;
  position: fixed;
}


h1{
    color : #2f727e;
    font-weight: 400;
    text-align: center;
    padding: 30px;
}

img{
    width : 100%;
}

.container{
  width: 100%;
}

.navbar{
  background: linear-gradient(0.25turn, #2f727e, #ebf8e1, #f69d3c);
}
