body {
  font-family: 'Gudea', sans-serif;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Rancho', cursive;
  color : #2a2a2a;
  font-weight: 400;
}

img { 
  width : 100%;
}

.navbar {
  padding: 0;
}